.logo {
  width: 18vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-card-big {
  width: 65%;
}

[name="codebox"] {
  height: 100%;
}

[type="checkbox"] {
  margin-right: 0.5em;
}

.flex-aic-jcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.back-button {
  margin-top: -0.5em;
  margin-bottom: 0.75em;
}

.example-codebox {
  position: relative;
}

.example-codebox > .button {
  position: absolute;
  bottom: 7px;
  right: 7px;
}

.paragraph {
  margin-bottom: 0.75em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-minus-05 {
  margin-top: -0.5em;
}

.fs-09 {
  font-size: 0.9em;
}

.ta-j {
  text-align: justify;
}

.jc-flex-end {
  justify-content: flex-end !important;
}

.jc-space-between {
  justify-content: space-between !important;
}

#vis > div {
  height: 71vh;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  border-color: #dbdbdb;
}

html, body, #app {
  height: 100%;
  overflow: auto;
}
