<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/bulma.min.css">
  </head>
  <body class="has-background-light">
    <div class="container is-fluid">
      <section id="header">
        <h1 class="title"><%= title %></h1>
        <h2 class="subtitle"><%= message %></h2>
      </section>

      <section id="top-menu" class="columns">
        <div class="column">
          <button class="button is-fullwidth" onclick="clearCode()">Clear</button>
        </div>
        <div class="column">
          <button class="button is-fullwidth" onclick="saveCode()">Save to device</button> 
        </div>
      </section>
  
      <textarea class="input no-resize" style="height: 10em;" name="codebox"></textarea>
      <button class="button is-primary is-fullwidth" onclick="submitCode()">Send</button>
    </div>
    
    <script src="/index.js"></script>
  </body>
</html>
