<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1><%= message %></h1>
    <button onclick="clearCode()">Clear</button>
    <button onclick="saveCode()">Save to device</button>
    <textarea name="codebox"></textarea>
    <button onclick="submitCode()">Send</button>

    <script src="/index.js"></script>
  </body>
</html>
