<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/bulma.min.css">
  </head>
  <body class="has-background-light">
    <section class="section">
      <div class="container is-fluid">
        <header class="mb-1">
          <h1 class="title"><%= title %></h1>
          <h2 class="subtitle"><%= message %></h2>
        </header>
    
        <section id="top-menu" class="columns">
          <div class="column">
            <button class="button is-fullwidth" onclick="clearCode()">Clear</button>
          </div>
          <div class="column">
            <button class="button is-fullwidth" onclick="saveCode()">Save to device</button> 
          </div>
        </section>
      
        <section id="form">
          <textarea class="textarea has-fixed-size is-small mb-1" rows="18" name="codebox"></textarea>
          <button class="button is-primary is-fullwidth" onclick="submitCode()">Send</button>
        </section>
    
      </div>
    </section>

    <div class="modal" id="parser-modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Resultado do parser (JSON)</p>
          <button class="delete" aria-label="close" onclick="closeModal('parser')"></button>
        </header>
        <section class="modal-card-body">
          <textarea readonly class="textarea has-fixed-size is-small mb-1" rows="18" id="json-code"></textarea>
        </section>
        <footer class="modal-card-foot jc-flex-end">
          <button class="button is-success"
            onclick="submitCypher()"">Generate graph database</button>
          <button class="button"
            onclick="closeModal('parser')">Cancel</button>
        </footer>
      </div>
    </div>

    <div class="modal" id="cypher-modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Resultado do conversor ER para Cypher</p>
          <button class="delete" aria-label="close" onclick="closeModal('cypher')"></button>
        </header>
        <section class="modal-card-body">
          <textarea readonly class="textarea has-fixed-size is-small mb-1" rows="18" id="cypher-code"></textarea>
        </section>
        <footer class="modal-card-foot jc-flex-end">
          <!-- <button class="button is-success"
            onclick="submitCypher()"">Generate graph database</button> -->
          <button class="button"
            onclick="closeModal('cypher')">Cancel</button>
        </footer>
      </div>
    </div>

    <script src="/codebox.js"></script>
    <script src="/modals.js"></script>
    <script src="/cypher.js"></script>
  </body>
</html>
