<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1><%= message %></h1>
    <textarea name="codebox" contenteditable="true"></textarea>
    <button type="submit">Send</button>

    <script>
      const codebox = document.querySelector("[name=codebox]")

      codebox.addEventListener("keydown", (e) => {
        let { keyCode } = e;
        let { value, selectionStart, selectionEnd } = codebox;

        console.log(keyCode)
        if (keyCode === 9) {  // TAB
          e.preventDefault();

          codebox.value = value.slice(0, selectionStart) + "  " + value.slice(selectionEnd);

          codebox.setSelectionRange(selectionStart+2, selectionStart+2)
        }

        if (keyCode === 219) {  // "{"
          codebox.value = value.slice(0, selectionStart) + "}" + value.slice(selectionEnd);
          codebox.setSelectionRange(selectionStart, selectionStart)
        }

        if (keyCode === 13) {  // ENTER

        }
      });
    </script>
  </body>
</html>
