.mb-1 {
  margin-bottom: 1em;
}

.jc-flex-end {
  justify-content: flex-end !important;
}

.jc-space-between {
  justify-content: space-between !important;
}

html, body {
  height: 100%;
  overflow: auto;
}
